.App {
  height: 100%;
  text-align: center;
  display: flex;
  margin-top: 20px;
  font-size: xx-large;
  font-style: oblique;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
html body{
  height: 100%;
}

.Cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px;
}